<div class="main-container">
  <div class="chat-container">
    <div #chat class="chat">
      <div class="section" *ngFor="let message of messages"
        [ngStyle]="{'justify-content': message.user.id == user.id ? 'end' : 'start'}">
        <div class="message" [ngStyle]="{'background-color': message.user.id == user.id ? '#005c4b' : '#202c33'}">
          <div>
            <b>{{message.user.name}}</b>
            <span>{{message.send_at | date:'HH:mm'}}</span>
          </div>
          <span>{{message.text}}</span>
        </div>
      </div>
    </div>
    <input class="input" placeholder="Message" id="text" name="text" [(ngModel)]="text" (keyup.enter)="sendMessage()">
  </div>
</div>